<!DOCTYPE html>
<html>

<head>
	<title>Consent Form</title>
	<link rel=stylesheet href="../static/css/bootstrap.min.css" type="text/css">
	<link rel=stylesheet href="../static/css/style.css" type="text/css">
	<script type="text/javascript">
		function onexit() {
			self.close(); // no harm, no foul here
		}
	</script>
</head>

<body>
	<div id="container-consent">
		<p>Thank you for your interest in our research. Please read the following information carefully.</p>
		<p><b><u>Columbia University Electronic Consent Form</u></p>
		<p>IRB Protocol: AAAS0166
			<br>
			Principal Investigator: Daphna Shohamy
			<br>
			Protocol Title: Curiosity, Learning, and Memory
			<br>
			</b></p>

		<p>Contact:
			<br>
			Yaniv Abir, Investigator
			<br>
			Email: <a href="mailto:ya2402@columbia.edu">ya2402@columbia.edu</a>
			<br>
			Daphna Shohamy, Principal Investigator
			<br>
			Email: ds2619@columbia.edu
			<br>
			Duration: 20-40 minutes
			<br>
			Anticipated number of subjects: 8000
		</p>
		<p>PURPOSE:<br>We are conducting a psychology research study on learning. We want to investigate how people
			learn, what helps them to learn most effectively, and how different psychological processes
			affect learning. To participate in this survey, you must be at least 18 years old.</p>
		<p>PROCEDURE:<br>If you choose to participate, you will view videos, questions, images, or pieces of information
			and asked to answer some questions. There may also be some basic questions about your
			preferences, mood, and personality. You may skip any question that you feel uncomfortable
			answering. It should take approximately 35 minutes to complete this task.</p>
		<p>RISKS:<br>There are no known physical, psychological, or social risks associated with this study. You may
			skip any questions that make you uncomfortable, and you may quit the survey at any time if you
			don't want to continue.</p>
		<p>BENEFITS:<br>There are no direct benefits to you for participating in this survey. However, the research may
			help advance scientific knowledge of learning.</p>
		<p>ALTERNATIVE PROCEDURES:<br>The alternative is to not participate.</p>
		<p>CONFIDENTIALITY:<br>All of your answers will be completely anonymous, and we will not ask for any piece of
			information that could be used to identify you. We will not collect IP addresses that could be
			linked to you through your computer. The following individuals and/or agencies will be able to
			look at and copy your research records:</p>
		<ul>
			<li>The investigator, study staff, and other professionals who may be evaluating the study</li>
			<li>Authorities from Columbia University, including the Institutional Review Board ("IRB")</li>
			<li>The United States Office of Human Research Protections ("OHRP")</li>
		</ul>
		<p>COMPENSATION:<br>You will receive $1.00-5.00 for this survey, depending on what is specified in the HIT
			description. Once you have completed the survey, a researcher will review and approve payment,
			and the money will be transferred into your MTurk account within 48 hours.</p>
		<p>ADDITIONAL COSTS:<br>It will not cost you anything to participate in this study.</p>
		<p>VOLUNTARY PARTICIPATION:<br>Taking part in this study is your choice. You may refuse to take part in all or some portion of it,
			and you may exit the survey at any time.</p>
		<p>ADDITIONAL INFORMATION:<br>If you have any questions about your rights or responsibilities as a research participant, please
			contact the Columbia University Human Research Protection Office at:
			Phone: 212-851-7040
			<br>
			Email: askirb@columbia.edu
			<br>
		</p>
		<p>If you wish to continue with the survey, please read the statement below and check the
			appropriate box. If you would like to print a copy of this form for your records, please do so now
			using the "print" function of your web browser.</p>
		<p><img src="../static/images/Curiosity_IRB_logo.png" width="350"></p>
		<hr>
		<center>
			<button type="button" class="btn btn-primary btn-lg" onClick="window.location='/templates/exp1.html' + window.location.search">
				<span class="glyphicon glyphicon-ok"></span> Yes
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
				<span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
			</button>
		</center>
		<br>
	</div>
</body>

</html>
